<% div_for item do %>    
      <tr>
        <td>
          <strong>Value <%= item.value %></strong>
        </td>
        <td>        
          <strong><%=h item.title %></strong><br />
          <%=h item.description %>
        </td>
      </tr>
<% end %>